<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <div th:insert="blocks/header" ></div>
</head>
<body>
<div class=ex1><h1>Редактирование автора</h1></div>
<form method="post" th:object="${author}">
    <table border="1" class="styled-table">
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Информация</th>
        </tr>
        <tr>
            <td>
                <input type="text" name="name" placeholder="Введите имя" th:field="*{name}" id="name" th:value="${name}" >
                <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
            </td>
            <td>
                <input type="text" name="surname" placeholder="Введите фамилия" th:field="*{surname}" id="surname" th:value="${surname}" >
                <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"/>
            </td>
            <td>
                <select  name="biography">
                    <div th:each="element : ${authorDetails}">
                        <option th:text="${element.biography}"></option>
                    </div>
                </select>
            </td>
        </tr>

    </table>
    <div align="center"><button type="submit" class="green">Изменить автора</button></div>
</form>
</body>
</html>