<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/site.css}" rel="stylesheet" />
    <div th:insert="blocks/header" ></div>
</head>
<body>
<div class=ex1><h1>Редактирование книги</h1></div>
<form method="post" th:object="${book}">
    <table border="1" class="styled-table">
        <tr>
            <th>Количество страниц</th>
            <th>Название</th>
            <th>Цена</th>
            <th>Издатель</th>
            <th>Автор</th>
        </tr>
        <tr>
            <td>
                <input type="number" name="pages" placeholder="Введите количество страниц" th:field="*{pages}" id="pages" th:value="${pages}" >
                <div style="color: red" th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}"/>
            </td>
            <td>
                <input type="text" name="title" placeholder="Введите название" th:field="*{title}" id="title" th:value="${title}">
                <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
            </td>
            <td>
                <input type="text" name="price" placeholder="Введите цену" th:field="*{price}" id="price" th:value="${price}">
                <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"/>
            </td>
            <td>
                <select  name="surname">
                    <div th:each="element : ${author}">
                        <option th:text="${element.surname}"></option>
                    </div>
                </select>
            </td>
            <td>
                <select  name="name">
                    <div th:each="element : ${publisher}">
                        <option th:text="${element.name}"></option>
                    </div>
                </select>
            </td>
        </tr>

    </table>
    <div align="center"><button type="submit" class="green">Изменить книгу</button></div>
</form>
</body>
</html>